// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;
@mixin respond($break-point){
    @if $break-point== largest {
        @media screen and (max-width: 68.75em) {@content}; 
    };//1100px

    @if $break-point== large {
        @media screen and (max-width: 59.375em) {@content}; 
    };//950px

    @if $break-point== medium {
        @media screen and (max-width: 50em) {@content}; 
    };//800px
    
}
:root{
    --color-primary: #c69963
}

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;

    @include respond(largest){
        font-size: 56.25%;
    };

    @include respond(largest){
        font-size: 50%;
    }
}

body{
    font-family: $font-primary;
    line-height: 1.6;
    font-weight: 300;
    color:$color-grey-dark-2;

    
}

.container{
    display:grid;
    grid-template-rows:80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [side-start] 7rem [side-end grid-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [grid-end];  

    @include respond(large){
        grid-template-rows:6rem 80vh min-content 40vw repeat(3, min-content);
        grid-template-columns:[grid-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [grid-end];  
    }

    @include respond(medium){
        grid-template-rows:6rem calc(100vh - 6rem);
    }
}
