%heading{
    color:$color-grey-dark-1;
    font-weight: 400;
    font-family: $font-display;
}

.heading-1{
    @extend %heading;
    color:white;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1;
}   

.heading-2{
    @extend %heading;
    font-size: 4rem;
    line-height: 1;
    font-style: italic;
}

.heading-3{
    @extend %heading;
    font-size: 1.6rem;
    text-transform: uppercase;
    &--gold{
        color: $color-primary-dark;
    }
}

.heading-4{
    font-size: 1.7rem;
    @extend %heading;
    &--dark{
        color: $color-grey-dark-1;
    }
}

.btn{
    text-transform: uppercase;
    border:none;
    color: white;
    border-radius: 0;
    background: $color-primary;
    padding:1.8rem 3.5rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: .2s;
    
    &:hover{
        background: $color-primary-dark;
    }
}

.mb-1{margin-bottom: 1rem;}
.mb-2{margin-bottom: 2rem;}
.mb-3{margin-bottom: 3rem;}
.mb-4{margin-bottom: 4rem;}
.mb-5{margin-bottom: 5rem;}